{% extends "root.html" %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block content %}
    <nav>
      <ul>
        <li>Database Security Model</li>
        <li>
          <div class="hamburger">
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
          </div>
        </li>
      </ul>
    </nav>

    <div class="links">
      <div class="close"><i class="fas fa-times"></i></div>
      <div class="link"><a href="/">Home</a></div>
      <div class="link"><a href="/populate">Populate</a></div>
      <div class="link"><a href="/hash">Hash and Salt</a></div>
      <div class="link"><a href="/anonymize">Anonymize</a></div>
      <div class="link"><a href="/reset">Reset Table</a></div>
      <div class="link"><a href="/signout">Sign Out</a></div>
    </div>

    <div class="body">
      <table>
        <tr>
          {% for header in headings %} 
            <th>{{ header }}</th>          
          {% endfor %}
        </tr>

        {% for person in people %}
          <tr>
              <td>{{ person.id }}</td>
              <td>{{ person.fullname }}</td>
              <td>{{ person.username }}</td>
              <td>{{ person.address }}</td>
              <td>{{ person.age }}</td>
              <td>{{ person.salary }}</td>
              <td>{{ person.job_title }}</td>
              <td>{{ person.password }}</td>
          <tr>
        {% endfor %}
      </table>
    </div>
{% endblock %}
