<html lang="en">
  <head>
    <title>Database Security Model</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/signup.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&amp;display=swap" rel="stylesheet">
  </head>

  <body>
    <nav>
      <ul>
        <li>Database Security Model</li>
      </ul>
    </nav>

    <a href="/login" class="back">        
      <i class="fas fa-arrow-left"></i>
      Go Back
    </a>

    <form action="/signup" method="POST">
      <h1>Sign Up Here</h1>

      {% if error == false %}
      <div class="error" style="margin-bottom: 10px;">
        Please fill in a value for all fields.
      </div>
      {% endif %}

      <div class="input-wrapper">
        <i class="fas fa-feather-alt"></i>
        <input type="text" placeholder="Full Name" name="fullname" class="text">
      </div>
      
      <div class="input-wrapper">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Username" name="username" class="text">
      </div>

      {% if duplicate == true %}
      <div class="error">
        This username is taken, please try another.
      </div>
      {% endif %}

      <div class="input-wrapper">
        <i class="fas fa-address-card"></i>
        <input type="text" placeholder="Address" name="address" class="text">
      </div>

      <div class="input-wrapper">
        <i class="fas fa-child"></i>
        <input type="text" placeholder="Age" name="age" class="text">
      </div>
      
      <div class="input-wrapper">
        <i class="fas fa-dollar-sign"></i>
        <input type="text" placeholder="Salary" name="salary" class="text">
      </div>

      <div class="input-wrapper">
        <i class="fas fa-briefcase"></i>
        <input type="text" placeholder="Job Title" name="job_title" class="text">
      </div>
      
      <div class="input-wrapper">
        <i class="fas fa-lock"></i>
        <input type="text" placeholder="Password" name="password" class="text">
      </div>
      
      <input type="submit" value="Sign Up" class="button">
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  </body>
</html>
