/* General Styles */

:root {
    --white-1: #fff;
    --white-2: #f8f0fb;
    --gray-1: #cad5ca;
    --black-1: #211a1d;
    --purple-1: #6320ee;
    --blue-1: #8075ff;
}

* {
    padding: 0;
    margin: 0;
    font-family: Open Sans;
}


