:root {
    --white-1: #ffffff;
    --white-2: #f0f4ef;
    --gray-1: #bfcc94;
    --black-1: #0d1821;
    --blue-1: #344966;
    --blue-2: #b4cded;
    --red-1: #ba4946;  
    --red-2: #f7dfdf;
}

* {
    padding: 0;
    margin: 0;
    font-family: Open Sans;
}

body {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

nav {
    background: var(--black-1);
    height: 60px;
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 5px solid var(--blue-2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul {
    padding-left: 10px;
    list-style: none;
}

nav ul li {
    color: var(--white-1);
    font-size: 25px;
}